<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CNLiving</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!--servlet定义-->
  <servlet>
  <!-- servlet名字 -->
    <servlet-name>RoomServlet</servlet-name> 
	<!-- servlet实现的类-->
    <servlet-class>com.ruolan.living.RoomServlet</servlet-class>
  </servlet>
  
  <!--servlet映射-->
  <servlet-mapping>
  <!--servlet名字-->
    <servlet-name>RoomServlet</servlet-name>
  <!--访问servlet 的url地址-->
    <url-pattern>/roomServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <!-- servlet名字 -->
    <servlet-name>UserServlet</servlet-name>
    <!-- servlet实现的类-->
    <servlet-class>com.ruolan.living.UserServlet</servlet-class>
  </servlet>

  <!--servlet映射-->
  <servlet-mapping>
    <!--servlet名字-->
    <servlet-name>UserServlet</servlet-name>
    <!--访问servlet 的url地址-->
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
</web-app>